<!DOCTYPE html>
<html>
<head>
  <title><%= page_title %></title>
  <%= stylesheet_link_tag "blocky/application", media: "all" %>
  <%= csrf_meta_tags %>
</head>

<body class="<%= body_class %>">

<%= yield %>

<%= javascript_include_tag "blocky/application" %>
</body>
</html>
