<%= form_for @content_block do |form| %>
  <div class="breadcrumbs">
    <%= link_to "Content Blocks", content_blocks_path %>
    <i class="fa fa-caret-right"></i>
    <code>:<%= @content_block.name %></code>
  </div>

  <textarea name="content_block[content]" class="content-editor">
    <%== @content_block.content %>
  </textarea>
  <div class="buttons">
    <%= link_to "Cancel", content_blocks_path, class: "button cancel" %>
    <button class="save">Save</button>
  </div>
<% end %>

<% content_for :scripts do %>
  <script>
    $(function() {
      $('.content-editor').summernote({
        focus: true,
        height: 400,

        toolbar: [
          ['style', ['bold', 'italic', 'underline', 'clear']],
          ['font', ['strikethrough']],
          ['fontsize', ['fontsize']],
          ['color', ['color']],
          ['para', ['ul', 'ol', 'paragraph']],
          ['height', ['height']]
        ]
      });
    });
  </script>
<% end %>
